div ul li{
  color:White;
  display:inline-block;
}
div{
  color: white;
}
h1{
  color: white;
}
div2{
  color: white;
}
h2{
  color: white;
  background-color: grey;
}
h3{
  color:White;
}
h4{
  color: white;
}
